<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Books:</h1>
	<a href="/books/create">CREATE NEW BOOK</a>
	<ul>
		<li
			th:each="book : ${books}"
			th:object="${book}"
		>
			[[ *{title} ]]
			<a th:href="@{/books/borrow/{id} (id=*{id})}">BORROW</a>
			<a th:href="@{/books/update/{id} (id=*{id})}">EDIT</a>
			<br>
			<div th:if="*{categories.size() > 0}">
				<h4>Categories: [[ *{categories.size()} ]]</h4>
				<ul>
					<li
						th:each="category : *{categories}"
						th:object="${category}"
					>
						[[ *{name} ]]
					</li>
				</ul>
			</div>
		</li>
	</ul>
</body>
</html>