<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${category}">
	<h1>Category create:</h1>
	<form method="POST">
		<label>Nome</label>
		<input type="text" name="name" th:value="*{name}">
		<br>
		<label>Description</label>
		<input type="text" name="description" th:value="*{description}">
		<br>
		<label>Books</label>
		<br>
		<div
			th:each="book : ${books}"
			th:object="${book}"
		>
			<input 
				th:id="${'book-' + book.id}" 
				th:value="*{id}" 
				th:checked="${category.books.contains(book)}"
				type="checkbox" 
				name="books">
			<label th:for="${'book-' + book.id}">[[ *{title} ]]</label>
			<br>
		</div>
		<br>
		<input type="submit" value="UPDATE">
	</form>
</body>
</html>